
.DS_Store

Examples/HRAutoTodoList/HRAutoTodoList.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist

Examples/AutoTodoList/AutoTodoList.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist

Examples/CryptoTodoList/CryptoTodoList.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist

Examples/HRTodoList/HRTodoList.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist

Tests/ARC Test/TodoList.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist

Examples/TodoList/TodoList.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist

Tests/Unit Tests/UnitTests.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist
